:host ::ng-deep button {
  margin-right: .25em;
}

:host ::ng-deep .custom-toast .ui-toast-message {
  color: #ffffff;
  background: #FC466B;
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
  background: linear-gradient(to right, #3F5EFB, #FC466B);
}

:host ::ng-deep .custom-toast .ui-toast-close-icon {
  color: #ffffff;
}
.register{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /*background: url(../../assets/login-background.jpg);*/
}
.form-group{
  margin-bottom:20px;
}
